@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
nav{
	display: flex;
	height: 80px;
	width: 100%;
	background: #009eff;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
}
nav .logo{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
nav ul li{
	margin: 0 5px;
}
nav ul li a{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	border-bottom: 1.5px solid transparent;
	transition: all 0.3s ease;
}
nav ul li a.active, 
nav ul li a:hover{
	border-color: white;
	color: white;
	background-color: #4dbbff;
	
}
nav .menu-btn i{
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}
input[type="checkbox"]{
	display: none;
}
.checked{
  width: 30px;
  height: 30px;
  margin-top: 25px;
  display: none;
}
.content{
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 0 30px;
	color: #007ecc;
}
.content div{
	font-size: 40px;
	font-weight: 700;
}
.content div2{
	font-size: 15px;
	font-weight: 100;
}
.cover{
	opacity: .25;
}
.cover img{
	width: 100%;
	height: 400px;
}
.video{
	width: 100%;
	background-color: #4dbbff;
	padding: 5px;
	text-align: center;
}
.video p{
	color: white;
	padding: 20px;
	font-size: 20px;
}
.video input{
	width: 50%;
	height: 35px;
	border: none;
	padding-left: 10px;
	border-radius: 20px 0 0 20px;
}
.video button{
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	border: none;
	background-color: #008ee6;
	font-weight: 700;
	color: white;
	margin-left: -5px;
	border-radius: 0 20px 20px 0;
}
.video button:hover{
	background-color: #009def;
}
.video .generatediv{
	width: 100%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  margin: 30px;
  display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.sub {
  padding: 2px 16px;
}
.services {
	width: 100%;
}
select{
		border: none;
		border-radius: 5px;
		height: 30px;
		background-color: white;
		color: black;
	}
.video .generate{
	width: auto;
	padding-left: 35px;
	padding-right: 35px;
	height: 35px;
	border: none;
	background-color: #005eff;
	font-weight: 700;
	color: white;
	border-radius:20px;
}

.dot-pulse {
  position: relative;
  margin-top: 20px;
  left: -9999px;
  width: 10px;
  display: none;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  box-shadow: 9999px 0 0 -5px #fff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #fff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #fff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 9984px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #fff;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 9999px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #fff;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 10014px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #fff;
  }
}

.video .copy{
	width: 70%;
	height: 35px;
	border: none;
	margin-top: 30px;
	border-radius: 5px 5px 5px 5px;
}
.video .copybtn{
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	border: none;
	font-weight: 700;
	color: white;
	margin-bottom: 20px;
  margin-top: 15px;
	border-radius:5px 5px 5px 5px;
}
.video iframe{
	margin: 10px auto;
}
.footer {
     background-color: #007ecc;
     color: #fff;
   }
.footer a{
	text-decoration: none;
	transition: .5s;
	color: #fff;
}
.footer ul li {
	list-style-type: none;
}
   .footer_info {
     width: 90%;
     margin: 0 auto;
     display: flex;
     padding: 50px 0;
   }
   .footer_info .footer_width {
     padding: 0 15px;
   }
   .footer_info h3 {
     margin-bottom: 20px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
   }
   .footer_info h3::before{
   	content: '';
   	position: absolute;
   	left: 0;
   	bottom: -10px;
   	background-color: #4dbbff;
   	height: 2px;
   	box-sizing: border-box;
   	width: 50px;
   }
   .about , .contacts {
     width: 40%;
   }
   .link {
     width: 20%;
   }
   .social-media {
     margin-top: 30px;
   }
   .social-media ul {
     display: flex;
   }
   .social-media ul li a {
     display: inline-block;
     margin-right: 50px;
     width: 50px;
     height: 50px;
     padding-top: 12px;
     background-color: #fff;
     color: #007ecc;
     border: 2px solid #fff;
     text-align: center;
   }
   .social-media ul li a i{
   	 font-size: 20px;
   }
   .social-media ul li a:hover {
     background-color: transparent;
     color: white;
   }
   .link ul li a {
     display: block;
     margin-bottom: 15px;
     font-size: 18px;
   }
   .link ul li a:hover {
     color: #007ecc;
     background: #fff;
     width: auto;
     padding-left: 15px;
   }
   .contacts ul li {
     display: flex;
     align-items: center;
     margin-bottom: 15px;
   }
   .contacts ul li span {
     margin-right: 15px;
   }
   .copy-right {
     background-color: rgb(66,66,66);
     padding: 15px 0;
     text-align: center;
   }
   .copy-right p {
     font-size: 15px;
   }
   .copy-right span {
     color: #009eff;
   }
@media (max-width: 1000px){
	nav{
		padding: 0 40px 0px 50px;
	}
}
@media (max-width: 920px){
	nav .menu-btn i{
		display: block;
	}
	#click:Checked ~ .menu-btn i:before{
		content: '\f00d';
	}
	nav ul{
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		text-align: center;
		z-index: 10;
		display: block;
		transition: all 0.3s ease;
	}
	#click:Checked ~ ul{
		left: 0px;
	}
	nav ul li{
		width: 100%;
		margin: 40px 0;
	}
	nav ul li a{
		width: 100%;
		margin-left: -100%;
		display: block;
		font-size: 20px;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	.about {
   width: 35%;
   }
   .contacts {
   		width: 50%;
   }
   .link {
   width: 30%;
   }
	#click:Checked ~ ul li a{
		margin-left: 0px;
	}
}
@media (max-width: 768px){
	.content div{
		font-size: 22px;
	}
	.about , .contact , .link {
   width: 100%;
   margin-bottom: 30px;
   }
   .footer_info {
   flex-direction: column;
   }
}